 body
{
    margin:0;
  padding:0;
  background-color: black;
    
   
}
 
 #fondo
 {
     top: 0;
     left:0;
      position:fixed;
     background:url("imagenesprueba/crimen_joaquin.png") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width:100%;
    height:100%;
}

#container
{
    
     overflow:hidden;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    width:100%;
    height:100%;
   position: absolute;
  top: 0;
  left: 0;
}
.oldclass
{
      /*transition:  1s ease-out;*/
    
   
    filter: url(#A);
  /* IE specific */
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10); 
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
 
    
}

#logo
{
    
    text-align:center;
    
    
    width:8%;
    height:auto;
     
}

#logo img
{
    width:100%;
    
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

#logo img:hover
{
     animation:none;
    
    
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.newClass
{
       
transition:  1s ease-out;
    
    /*background:url("img/enfocada.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
    
    filter: url(#B);
  /* IE specific */
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10); 
  
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
        
}

#menu
{
     
     position:fixed;
     display:inline-block;
     text-align:center;
      top: 85%;
  
    
}

a
{
    text-decoration:none;
    font-size: 16px;
   line-height:1.5;
   font-weight:bold;
  font-family:helvetica;
}

.hidden a
{
    visibility: hidden;
    
}

.show a
{
    color:white;
   
}
